@font-face {
    font-family: 'frutiger_geo';
    src: url("../fonts/Linotype\ -\ Neue\ Frutiger\ Georgian\ Black.otf");
}

@font-face {
    font-family: 'Regular';
    src: url("../fonts/NeueFrutigerGeorgianCAPS-Regular.ttf");
}

@font-face {
    font-family: 'frutiger_bold_caps';
    src: url("../fonts/NeueFrutigerGeorgianCAPS-Bold.ttf");
}

@font-face {
    font-family: 'frutiger_light';
    src: url("../fonts/NeueFrutigerGeorgianCAPS-Light.ttf");
}

@font-face {
    font-family: firago-regular;
    src: url("../fonts/FiraGO-Regular.cd00da6b.ttf");
}

body {
    margin: 0;
}

.log_h {
    font-size: 18px;
    font-family: 'frutiger_bold_caps';
    line-height: 21px;
    letter-spacing: normal;
    border-bottom: 3px solid #005019;
    padding: 0;
    margin: 0;
}

.brand_img {
    width: 250px;
    height: 100px;
}

.form-label {
    font-size: 14px;
}

.input_height {
    height: 35px;
    border-radius: 4px;
    font-family: 'frutiger_light';
    font-size: 14px;
    outline: none !important;

}

.inp_color {
    background-color: #e8f0fe;
}

/* --- dasboard --- */
.row_position {
    margin-top: 130px;
}

td {
    font-size: 14px;
}

tr {
    vertical-align: middle;
}

/* --- v-select style --- */
.vs__selected-options {
    height: 40px;
}

.vs__dropdown-option--highlight {
    background-color: #005019 !important;
}

.border_man {
    border-top: 1px solid #d8d8d8 !important;
}

.brand {
    color: #005019;
    font-weight: 600;
    font-family: 'Regular';
    font-size: 28px;
}

.head {
    color: #acacac !important;
    font-weight: 600;
    font-family: 'Regular';
    font-size: 28px;
}

input:focus::placeholder {
    color: transparent;
}

.input_form_add {
    /* width: 100% !important; */
    height: 40px;
    font-family: 'firago-regular' 'sans-serif';
    border-radius: 4px;
    background: #F5F5FA;
    box-shadow: -1px -1px 2px 0px #ffffff, 1px 1px 2px 0px rgba(221, 221, 221, 0.3) !important;
}

/* --- view --- */
.card_border {
    border: none !important;
    background-color: none !important;
}

.text_area, .text_area_recomendation {
    border: 1px solid rgb(182, 182, 182) !important;
    border-radius: 5px;
    outline: none;
    height: 39px;
}

.text_area_recomendation {
    height: 70px;
}

.btn_manual {
    background-color: #005019 !important;
    color: #ffffff;
}

@media only screen and (max-width: 768px) {
    .brand {
        text-align: center;
    }

    .brand_img {
        margin-bottom: 50px;
    }

    .form-label {
        font-size: 14px;
        font-family: 'firago-regular';
        font-weight: 600;
    }

    .input_height {
        height: 55px !important;
    }

    .qui {
        margin-top: 40px !important;
    }
}